table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
    margin-top: 30px;
}
th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 8px; 
  border: 1px solid #ddd; 
}
td {
  background-color: #f9f9f9;
  padding: 8px;
  border: 1px solid #ddd;
}
.btncont{
  display: flex;
  justify-content: center;
}
button{
    cursor: pointer;
    background-color: rgb(30, 40, 135);
    color: white;
    border-radius: 35px;
    padding: 8px;
    margin: none;
}
.tables{
  display: flex;
  justify-content: center;
}